

<% if flash[:notice] %>
    <div class="notice">
      <li><%= flash[:notice] %></li>
    </div>
<% end %>

<html>
<head>
  <!--<title>协议协议协议协议协议协议协议</title>-->

</head>
<body>

<div class="agreement" >

    <p>协议协议协议协议协议协议协议</p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>


</div>

</body>
</html>